body{
    margin: 0;
    padding: 0;
}

button{
    font-family:monospace;
    font-size: 1.8em;
    margin: .1em 0 0.1em 0;
    padding: 0;

    height: 3em;
    width: 3em;
    background-color: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: .2em;
}

.double{
    width: 6.2em;

}

.clear, .backspace, .decimal, .equals{
    border: 0;
    background: red;
    color: white;
}

.operator{
    border: 0;
    background: rgb(53, 53, 53);
    color: white;
}

.pressed{
    border: 0;
    background: rgb(80, 80, 80);
    color: white;
}
#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-width: 100vh;

    background: rgb(230, 230, 230);
}

#container {
    display: flex;
    flex-direction: column;

    padding: 1em;
   
    border: 2px solid rgb(255, 0, 0);
    border-radius: 1em;

    background: rgb(255, 255, 255);

}

#display {
    font-family:monospace;
    overflow: hidden;
    display: flex;
    justify-content: end;

    width: 93%;
    height: 1em;
    padding: .2em .3em .2em .2em;
    margin-bottom:.3em;
    
    font-size: 3.2em;

    border: 1px solid rgb(233, 233, 233);


}

.button-row {
  
}