body{
    margin: 0;
    padding: 0;

    font-family:'Courier New', Courier, monospace;
}

button{
    height: 4em;
    width: 4em;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: .6em;
}

.double{
    width: 8.5em;
}

.function{
    background: red;
    color: white;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    min-width: 100vh;

    background: rgb(230, 230, 230);
}

#container {
    display: flex;
    flex-direction: column;

    width: 20em;
    height: 30em;

    padding-bottom: 1em;
   
    border: 2px solid rgb(255, 0, 0);
    border-radius: 1em;

    background: rgb(255, 255, 255);

}

#display {
    display: flex;
    align-items:flex-end;
    justify-content: end;
    flex: 1;
    overflow: hidden;

    min-width: 6.8em;
    min-height: 2em;

    margin: .8em .7em .5em .6em;
    padding-left: 1em;
    
    font-size: 2.2em;

    border: 1px solid rgb(233, 233, 233);
    border-radius: .5em;

}

.button-row {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;;
    gap: .6em;
    flex: 5;

    margin: 0 0 0 0;
    /* border: 1px solid rgb(233, 233, 233);
    border-radius: .5em; */

}